body{background-color: #35033d;
	margin: 0 15%;}

h1{text-align: center;
	color: #e5d0ef;}

h2{color: #d0e0ef;}

p{color: #e5d0ef;}

div{color: #e5d0ef;}

img{float: right;
	margin: 0 12px;}