body{background-color: #35033d;
	margin: 0 15%;}

h1{text-align: center;
	color: #e5d0ef;
	font-family: 'Underdog', cursive;}

h2{color: #d0e0ef;
	font-family: 'Underdog', cursive;}

p{color: #e5d0ef;
	font-weight: normal;
	font-family: 'Dosis', sans-serif;}

div{color: #e5d0ef;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;}

img{float: right;
	margin: 0 12px;}
